/*
CSS stylesheet index graeffly
*/

/* Parametres Globaux **********************************************************/
body {
	background-color:#8E0C0C;
}

img {
	border: 0px;
}

#enter {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -175px; 
	margin-left: -150px;
}

/* 404 ***********************************************************************/

#error_404 {
	position: absolute;
	left: 50%;
	top: 5%;
	margin-left: -300px;
}

#img_error_404 {
	border-radius: 10px 10px 10px 10px;
}
