/*
CSS stylesheet public graeffly
*/

/* Parametres Globaux **********************************************************/
body {
	background-color:#8E0C0C;
	background-image: url(../image/top.jpg), url(../image/logo_back.jpg);
	background-repeat: no-repeat;
	background-attachment: inherit;
	background-position: top center, top center; 
	font-family: Arial, Verdana, sans-serif;
	font-size: 11px;
	color: #000000;
	/*overflow:scroll;*/
}

a {
	font-size: 12px;
	font-weight: bold;
	color: #A52121;
	text-decoration: none;
}

a:hover {
	font-size: 12px;
	font-weight: bold;
	color: #A52121;
	text-decoration: underline;
}

img {
	border: 0px;
}


/* Main *************************************************************************/
#public_include {
	text-align: center;
	vertical-align: middle;
}

#banniere {
	position: absolute;
	width: 600px;
	height: 400px;
	top: 0px;
	left: 50%;
	margin-left: -301px;
	border: 1px solid #000000;
}

#menu {
	position: absolute;
	width: 600px;
	height: 30px;
	top: 400px;
	left: 50%;
	padding-top: 5px;
	margin-left: -301px;
	vertical-align: middle;
	background-color: #FFFFFF;
	border-top: 1px solid #000000;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	font-size: 12px;
}

#main {
	position: absolute;
	width: 600px;
	top: 430px;
	left: 50%;
	margin-left: -301px;
	background-color: #FFFFFF;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
}


/* Pages ************************************************************************/
#accueil {
	text-align: justify;
	margin-top: 20px;
	margin-bottom: 30px;
	margin-left: 30px;
	margin-right: 30px;
	height: 540px;
}

#competences {
	text-align: justify;
	margin-top: 20px;
	margin-bottom: 30px;
	margin-left: 30px;
	margin-right: 30px;
	height: 480px;
}

#fonctions {
	text-align: justify;
	margin-top: 20px;
	margin-bottom: 30px;
	margin-left: 30px;
	margin-right: 30px;
	height: 480px;
}

#publications {
	text-align: justify;
	margin-top: 20px;
	margin-bottom: 30px;
	margin-left: 30px;
	margin-right: 30px;
	height: 1730px;
}

#honoraires {
	text-align: justify;
	margin-top: 20px;
	margin-bottom: 30px;
	margin-left: 30px;
	margin-right: 30px;
	height: 730px;
}

#contact {
	text-align: justify;
	margin-top: 20px;
	margin-bottom: 30px;
	margin-left: 30px;
	margin-right: 30px;
	height: 480px;
}

#presse {
	text-align: justify;
	margin-top: 20px;
	margin-bottom: 30px;
	margin-left: 30px;
	margin-right: 30px;
	height: 2850px;
}

#photo_contact {
	float: right;
	margin-top: 5px;
	margin-bottom: 20px;
	margin-right: 60px;
	width: 130px;
	height: 200px;
    border: 1px solid #A52121;
}

.photo_presse {
    border: 1px solid #A52121;
	margin-top: 10px;
	margin-left: -12px;

}

/* Accueil **********************************************************************/

/* OLD - BEGIN */
#photo_romain_1 {
	float: right;
	margin-bottom: 10px;
	margin-left: 20px;
	width: 130px;
	height: 200px;
    border: 1px solid #A52121;
}

#photo_romain_2 {
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
	width: 130px;
	height: 200px;
    border: 1px solid #A52121;
}
/* OLD - END */

#photo_romain_3 {
	float: right;
	margin-bottom: 10px;
	margin-left: 20px;
	width: 210px;
	height: 150px;
    border: 1px solid #A52121;
}

#photo_romain_4 {
	float: left;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 20px;
	width: 210px;
	height: 150px;
    border: 1px solid #A52121;
}

/* Divers **********************************************************************/

.titre_paragraphe {
	font-size: 13px;
	font-weight: bold;
	color: #A52121;
	border-bottom: 1px solid #A52121;
	margin-top: 20px;
	margin-bottom: 10px;
}

.titre_debut_texte {
	font-size: 13px;
	font-weight: bold;
	color: #A52121;
	margin-bottom: 13px;
}

.fleche {
	display : list-item;
	list-style-image : url(../image/fleche.gif);
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 30px;
	margin-right: 20px;
}

.rond {
	display : list-item;
	list-style-image : url(../image/rond.gif);
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 30px;
	margin-right: 20px;
}

.important {
	font-size: 11px;
	font-weight: bold;
	color: #A52121;
}

.centrer {
	text-align: center;
}

.arobase {
	height: 15px;
	width: 15px;
	margin-right: 1px;
	margin-left: 1px;
	margin-bottom: -4px;
}